---
import { Icon } from "astro-icon";
import LanguagePicker from "../components/LanguagePicker.astro";
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../i18n/utils";
import ProfilePic from "../assets/profile_pic.jpeg";
import { Image } from "astro:assets";
import Social from "./Social.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const currentPath = Astro.url.pathname;
const pathname = Astro.url.pathname.split("/").at(-1);

const sidebarItems = [
    {
        name: t("sidebar.home"),
        icon: "iconoir:home",
        link: "/",
    },
    {
        name: t("sidebar.projects"),
        icon: "grommet-icons:projects",
        link: "/projects",
    },
    {
        name: "CV",
        icon: "mdi:paper-text-outline",
        link: "/cv",
    },
];
---

<!-- mobile nav view -->
<ul class="flex gap-4 flex-wrap items-center pt-4 ml-8 lg:hidden">
    <Image
        src={ProfilePic}
        class="h-12 w-12 rounded-full pointer-events-none"
        alt="Profile picture"
    />
    {
        sidebarItems.map((item, idx) => (
            <li>
                <a
                    href={translatePath(item.link, lang)}
                    class:list={[
                        {
                            "font-medium dark:text-white": true,
                            underline:
                                currentPath === translatePath(item.link, lang),
                        },
                    ]}
                >
                    {item.name}
                </a>
            </li>
        ))
    }
</ul>
<!--  -->

<aside
    id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
>
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <figure class="flex justify-center">
            <Image
                src={ProfilePic}
                class="m-3 h-36 w-36 rounded-full pointer-events-none"
                alt="Profile picture"
            />
        </figure>

        <ul class="space-y-2 font-medium">
            {
                sidebarItems.map((item) => (
                    <li>
                        <a
                            href={translatePath(item.link, lang)}
                            class:list={[
                                {
                                    "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group": true,
                                    "bg-gray-100 dark:bg-gray-700":
                                        currentPath ===
                                        translatePath(item.link, lang),
                                },
                            ]}
                        >
                            <Icon name={item.icon} width="32px" />
                            <span class="ml-3">{item.name}</span>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div
        class="px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-10"
    >
        <LanguagePicker />
    </div>

    <div class="sticky bottom-0">
        <Social />
    </div>
</aside>

<div class="px-4 sm:ml-64" transition:animate="fade">
    <div class="md:flex md:justify-center">
        <main
            class:list={[
                {
                    "lg:pt-0 px-6": true,
                    "lg:max-w-[900px] max-w-[100vw]": ![
                        "proyectos",
                        "projects",
                    ].includes(pathname),
                },
            ]}
        >
            <slot />
        </main>
        <div class="lg:hidden">
            <LanguagePicker />
            <br />
            <Social />
        </div>
    </div>
</div>
